############################# Server Basics #############################
broker.id={{ broker_id }}
listeners=PLAINTEXT://{{ inventory_hostname }}:{{ kafka_port }}
advertised.listeners=PLAINTEXT://{{ inventory_hostname }}:{{ kafka_port }}

############################# Socket Server Settings #############################
num.network.threads={{ [3, (ansible_processor_vcpus // 2)] | max }}
num.io.threads={{ [8, ansible_processor_vcpus] | max }}
socket.send.buffer.bytes=102400
socket.receive.buffer.bytes=102400
socket.request.max.bytes=104857600

############################# Log Basics #############################
log.dirs={{ kafka_data_dir }}
num.partitions={{ kafka_num_partitions }}
num.recovery.threads.per.data.dir=1

############################# Internal Topic Settings #############################
offsets.topic.replication.factor={{ offsets_topic_replication_factor }}
transaction.state.log.replication.factor={{ transaction_state_log_replication_factor }}
{% if groups['kfk']|length > 1 %}
transaction.state.log.min.isr={{ [2, (groups['kfk']|length // 2 + 1)] | min }}
{% else %}
transaction.state.log.min.isr=1
{% endif %}

############################# Log Retention Policy #############################
log.retention.hours={{ kafka_log_retention_hours }}
log.segment.bytes=1073741824
log.retention.check.interval.ms=300000

############################# Zookeeper #############################
zookeeper.connect={% for host in groups['zk'] %}{{ host }}:{{ zookeeper_port }}{% if not loop.last %},{% endif %}{% endfor %}

zookeeper.connection.timeout.ms=18000

############################# Group Coordinator Settings #############################
group.initial.rebalance.delay.ms={{ 0 if groups['kfk']|length == 1 else 3000 }}

############################# Cluster Settings #############################
{% if groups['kfk']|length == 1 %}
# Single broker settings
auto.create.topics.enable=true
delete.topic.enable=true
{% else %}
# Multi-broker settings
auto.create.topics.enable=false
delete.topic.enable=true
default.replication.factor={{ kafka_default_replication_factor }}
min.insync.replicas={{ [1, (groups['kfk']|length // 2)] | max }}
{% endif %}

############################# Performance Settings #############################
replica.fetch.max.bytes=1048576
message.max.bytes=1000000
