# Common Kafka settings
{% include 'kafka_common.conf.j2' %}

# Mode-specific settings
{% if kafka_mode == 'kraft' %}
{% include 'kafka_kraft.conf.j2' %}
{% else %}
{% include 'kafka_zk.conf.j2' %}
{% endif %}
