## JVM configuration for Elasticsearch

################################################################
## IMPORTANT: JVM heap size
################################################################
-Xms{{ elasticsearch_heap_size }}
-Xmx{{ elasticsearch_heap_size }}

################################################################
## Expert settings
################################################################
## All settings below this section are considered
## expert settings. Don't tamper with them unless
## you understand what you are doing

################################################################  
## GC configuration
################################################################
8-13:-XX:+UseConcMarkSweepGC
8-13:-XX:CMSInitiatingOccupancyFraction=75
8-13:-XX:+UseCMSInitiatingOccupancyOnly

14-:-XX:+UseG1GC

################################################################
## JVM temporary directory
################################################################  
-Djava.io.tmpdir=${ES_TMPDIR}

################################################################
## heap dumps
################################################################
-XX:+HeapDumpOnOutOfMemoryError
-XX:HeapDumpPath={{ elasticsearch_log_dir }}/

################################################################
## GC logging
################################################################
8:-XX:+PrintGCDetails
8:-XX:+PrintGCTimeStamps
8:-XX:+PrintGCDateStamps
8:-XX:+PrintClassHistogram
8:-XX:+PrintTenuringDistribution
8:-XX:+PrintGCApplicationStoppedTime
8:-Xloggc:{{ elasticsearch_log_dir }}/gc.log
8:-XX:+UseGCLogFileRotation
8:-XX:NumberOfGCLogFiles=32
8:-XX:GCLogFileSize=64m

9-:-Xlog:gc*,gc+age=trace,safepoint:{{ elasticsearch_log_dir }}/gc.log:utctime,pid,tid,level
9-:-XX:+UseGCLogFileRotation
9-:-XX:NumberOfGCLogFiles=32
9-:-XX:GCLogFileSize=64m

################################################################
## JVM DNS settings
################################################################
-Des.networkaddress.cache.ttl=60
-Des.networkaddress.cache.negative.ttl=10

################################################################
## JVM security settings
################################################################
-Djava.security.policy=all.policy

################################################################
## Locale
################################################################
-Dfile.encoding=UTF-8

################################################################
## optimizations
################################################################
# pre-touch memory pages used by the JVM during initialization
-XX:+AlwaysPreTouch

## basic

# explicitly set the stack size
-Xss1m

# set to headless, just in case
-Djava.awt.headless=true

# ensure UTF-8 encoding by default (e.g. filenames)
-Dfile.encoding=UTF-8

# use our provided JNA always versus the system one
-Djna.nosys=true

# turn off a JDK optimization that throws away stack traces for common
# exceptions because stack traces are important for debugging
-XX:-OmitStackTraceInFastThrow

# flags to configure Netty
-Dio.netty.noUnsafe=true
-Dio.netty.noKeySetOptimization=true
-Dio.netty.recycler.maxCapacityPerThread=0
-Dio.netty.allocator.numDirectArenas=0

# log4j 2
-Dlog4j.shutdownHookEnabled=false
-Dlog4j2.disable.jmx=true

-Djava.locale.providers=SPI,COMPAT

## G1GC Configuration
# Set the G1GC heap region size. It should be 1 to 32 MB, and should be a power of 2
14-:-XX:G1HeapRegionSize=4m

# Disable explicit GC
-XX:+DisableExplicitGC

# Ensure sufficient heap for off-heap data structures
-XX:MaxDirectMemorySize=1073741824
