## JVM configuration

################################################################
## IMPORTANT: JVM heap size
################################################################
-Xms{{ elasticsearch_heap_size }}
-Xmx{{ elasticsearch_heap_size }}

## G1 GC Configuration
8-13:-XX:+UseConcMarkSweepGC
8-13:-XX:CMSInitiatingOccupancyFraction=75
8-13:-XX:+UseCMSInitiatingOccupancyOnly

14-:-XX:+UseG1GC
14-:-XX:G1HeapRegionSize=1g

## DNS cache policy
-Des.networkaddress.cache.ttl=60
-Des.networkaddress.cache.negative.ttl=10

## Optimizations
-XX:+AlwaysPreTouch
-Xss1m
-Djava.awt.headless=true
-Dfile.encoding=UTF-8
-Djna.nosys=true
-XX:-OmitStackTraceInFastThrow
-Dio.netty.noUnsafe=true
-Dio.netty.noKeySetOptimization=true
-Dio.netty.recycler.maxCapacityPerThread=0
-Dlog4j.shutdownHookEnabled=false
-Dlog4j2.disable.jmx=true

-XX:+HeapDumpOnOutOfMemoryError
-XX:HeapDumpPath={{ elasticsearch_log_dir }}/
-XX:ErrorFile={{ elasticsearch_log_dir }}/hs_err_pid%p.log

