# JVM configuration

# Xms represents the initial size of total heap space
# Xmx represents the maximum size of total heap space
-Xms{{ elasticsearch_heap_size | default('1g') }}
-Xmx{{ elasticsearch_heap_size | default('1g') }}

# Expert settings
8-13:-XX:+UseConcMarkSweepGC
8-13:-XX:CMSInitiatingOccupancyFraction=75
8-13:-XX:+UseCMSInitiatingOccupancyOnly

14-:-XX:+UseG1GC
14-:-XX:G1ReservePercent=25
14-:-XX:InitiatingHeapOccupancyPercent=30

# JVM temporary directory
-Djava.io.tmpdir=${elasticsearch_TMPDIR}

# Heap dumps
-XX:+HeapDumpOnOutOfMemoryError
-XX:HeapDumpPath={{ elasticsearch_log_dir }}

# Exit on OutOfMemoryError
-XX:+ExitOnOutOfMemoryError

# GC logging
{% if elasticsearch_major_version | int >= 9 %}
-Xlog:gc*,gc+age=trace,safepoint:{{ elasticsearch_log_dir }}/gc.log:utctime,pid,tid,level
{% else %}
-XX:+PrintGCDetails
-XX:+PrintGCTimeStamps
-XX:+PrintGCDateStamps
-XX:+PrintClassHistogram
-XX:+PrintTenuringDistribution
-XX:+PrintGCApplicationStoppedTime
-Xloggc:{{ elasticsearch_log_dir }}/gc.log
-XX:+UseGCLogFileRotation
-XX:NumberOfGCLogFiles=32
-XX:GCLogFileSize=64m
{% endif %}

# Locale
-Dfile.encoding=UTF-8
-Duser.timezone={{ ansible_date_time.tz }}
